.banner {
  background-image: url("../../img/image/banner-mob(1x).jpg");
  // width: 320px;
  // min-height: 562px;
}

.banner__content {
  text-align: center;
  padding: 296px 12px 24px;
}

.banner__title {
  font-size: 26px;
  line-height: 35px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 500;
  padding-bottom: 25px;
}

.banner__description {
  padding-bottom: 30px;
}

.banner__button {
  padding: 13px 28px 16px;
}

@media (min-width: $tablet-width) {
  .banner {
    background-image: url("../../img/image/banner-tablet(1x).jpg");
  }

  @media (min-resolution: 2dppx) {
    $background-image: url("../../img/image/banner-tablet(2x).jpg");
  }

  .banner__content {
    text-align: left;
    padding: 97px 35px 65px 399px;
  }

  .banner__title {
    font-size: 32px;
    line-height: 40px;
  }

  .banner__description {
    font-size: 18px;
    line-height: 26px;
  }

  .banner__button {
    font-size: 16px;
    line-height: 22px;
  }
}
