.bestsellers {
  background-color: $white;
}

.bestsellers__container {
  padding-top: 35px;
  text-align: center;
}

.bestsellers__title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.bestsellers__description {
  font-family: "M plus 1p", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding: 0 60px 50px;
}

.bestsellers__button {
  padding: 13px 28px 16px;
  margin-top: 40px;
  margin-bottom: 80px;
}

@media (min-width: $tablet-width) {
  .bestsellers {
    padding-top: 120px;
    margin-top: -82px;
  }

  .bestsellers__container {
    text-align: left;
    padding-left: 45px;
  }

  .bestsellers__title {
    font-size: 32px;
    line-height: 42px;
  }

  .bestsellers__description {
    font-size: 18px;
    line-height: 26px;
    padding-left: 0;
    width: 284px;
    padding: 0 50px 35px 0;
  }

  .bestsellers__button {
    font-size: 16px;
    font-weight: 22px;
    margin-top: 0;
    margin-bottom: 213px;
  }

}

