.contacts {
  background-color: $white;
}

.contacts__container {
  background-color: $cream;
  margin: 0 15px;
}

.contacts__content {
  padding-left: 30px;
}

.contacts__title {
  font-size: 28px;
  font-weight: 500;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 35px;
  padding-top: 60px;
  padding-bottom: 35px;
}

.contacts__address-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  font-family: "M plus 1p";
  padding-bottom: 15px;
}

.contacts__address {
  font-style: normal;
  padding-right: 32px;
  padding-bottom: 30px;
}

.contacts__title-tel {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  font-family: "M plus 1p";
  padding-bottom: 15px;
}

.contacts__email-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  font-family: "M plus 1p";
  padding-top: 30px;
  padding-bottom: 15px;
}

.contacts__email {
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .contacts__container {
    margin: 0 45px;
  }

  .contacts__map-wrapper  {
    height: 0;
  }

  .contacts__map {
    position: relative;
    top: -430px;
    left: 354px;
    width: 369px;
    height: 374px;
  }

  .contacts__content {
    padding-left: 60px;
  }
 }

 @media (min-width: $desktop-width) {
   .contacts {
    margin-top: 140px;
    font-size: 18px;
    line-height: 26px;
   }

   .contacts__container {
     margin: 0 98px;
     width: 670px;
   }

   .contacts__content {
     padding-left: 100px;
     padding-top: 100px;
     padding-bottom: 100px;
   }

   .contacts__map {
     width: 670px;
     min-height: 422px;
     left: 500px;
     top: -518px;
   }

   .contacts__title {
     padding-top: 0;
     font-size: 32px;
     line-height: 42px;
   }

   .contacts__address-title,
   .contacts__email-title,
   .contacts__title-tel {
     font-size: 18px;
     line-height: 26px;
   }
 }
