.follow {
  background-color: $white;
}

.follow__container {
  text-align: center;
  padding: 80px 15px;
}

.follow__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 44px;
  font-family: "Raleway", "Arial", sans-serif;
  padding: 0 15px 25px;
}

.follow__description {
  padding-bottom: 30px;
}

.follow__button {
  padding: 13px 28px 16px;
}

.follow__image {
  padding-top: 50px;
}
