.footer {
  background-color: $cream;
}

.footer__content {
  padding-top: 50px;
  padding-left: 15px;
}

.footer__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 185px;
  padding-left: 0;
  padding-top: 30px;
}

.footer__link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: $black;
}

.footer__social {
  padding-top: 30px;
  padding-bottom: 50px;
}

.footer__copyright {
  border-top: 1px solid $border;
  color: $copyright;
  padding: 0;
}

.footer__copyright-wrapper {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 25px;
}

.footer__copyright-description {
  font-size: 12px;
  padding-top: 22px;
}

.footer__copyright-link {
  text-decoration: none;
  color: $copyright;
}
