.header {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
}

.header__logo {
  position: absolute;
  top: 10px;
  left: 110px;
}

@media (min-width: $tablet-width) {
  .header__logo {
    left: 340px;
  }
}

@media (min-width: $desktop-width) {
  .header__logo {
    top: 40px;
    left: 98px;
  }

  .logo__image {
    width: 131px;
    height: 21px;
  }
}


