.history {
  background-image: url("../../img/image/history-mob(1x).jpg");
  min-height: 346px;
}

.history__container {
  text-align: center;
  padding: 43px 39px;
}

.history__description {
  font-size: 22px;
  line-height: 27px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 500;
  padding-bottom: 20px;
}

.history__button {
  padding: 13px 28px 16px;
}
