.history {
  background-image: url("../../img/image/history-mob(1x).jpg");
  min-height: 346px;
}

.history__container {
  text-align: center;
  padding: 43px 39px;
}

.history__description {
  font-size: 22px;
  line-height: 27px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 500;
  padding-bottom: 20px;
}

.history__button {
  padding: 13px 28px 16px;
}

@media (min-width: $tablet-width) {
  .history {
    margin-top: -135px;
    background-image: url("../../img/image/history-tablet(1x).jpg");
    height: 393px;
  }

  @media (min-resolution: 2dppx) {
    $background-image: url("../../img/image/history-tablet(2x).jpg");
  }

  .history__container {
    padding: 0;
  }

  .history__description {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    padding-bottom: 35px;
    padding-top: 100px;

  }

  .history__button {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .history {
    min-height: 433px;
    margin-top: -110px;
  }

  .history__container {
    background-image: url("../../img/image/history-desktop(1x).jpg");
    background-repeat: no-repeat;
    min-height: 433px;
  }

  @media (min-resolution: 2dppx) {
    $background-image: url("../../img/image/history-desktop(2x).jpg");
  }

  .history__description {
    padding-top: 120px;
    padding-right: 287px;
    margin-left: 301px;
  }
}
