.navigation {
  display: flex;
  width: 320px;
  height: 70px;
  position: relative;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
}

.navigation__list {
  // border-top: 1px solid $border;
  width: 100%;
  padding-left: 15px;
  padding-top: 20px;
  padding-right: 0;
  margin-top: 70px;
  overflow: hidden;
}

.navigation__item {
  list-style: none;
}

.navigation__link {
  display: contents;
  text-align: left;
  text-decoration: none;
  color: $black;
}

.navigation__control {
  width: 0;
}

.navigation--closed .navigation__toggle::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 15px;
  width: 22px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 6px 0 0 $black, 0 12px 0 0 $black;
}

.navigation__toggle {
  position: relative;
  top: -35px;
  left: 0px;
  border: none;
  background-color: transparent;
}

.navigation--opened .navigation__toggle {
  top: 0;
  right: auto;
  left: auto;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 15px;
    width: 22px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .navigation--closed .navigation__item {
    display: none;
  }

  .navigation--nojs .navigation__toggle {
    visibility: hidden;
  }

  .navigation--nojs .navigation__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .navigation {
    width: 100%;
  }

  .navigation--closed .navigation__toggle::before {
    width: 24px;
  }


  .navigation--opened .navigation__toggle {
    &::before,
    &::after {
      width: 24px;
    }
  }
}

@media (min-width: $desktop-width) {
  .navigation__control {
    display: none;
  }

  .navigation__list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 40px;
    padding-left: 764px;
    padding-right: 213px;
  }

  .navigation {
    height: 131px;
  }

  .navigation__item {
    padding-right: 35px;
    font-size: 16px;
    line-height: 24px;
  }
}
