.page {
  min-width: 320px;
  font-size: 16px;
  line-height: 22px;
  font-family: "M plus 1p", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.page__body {
  margin: 0;
  padding: 0;
  background-color: $background;
  color: $black;
}

.page__body-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: center;
  min-height: 100%;
  width: 320px;
  margin: 0 auto;
}

.page__body--background {
  background-image: url("../../img/image/header-lay(mob).jpg");
  background-repeat: no-repeat;
}

@media (min-resolution: 2dppx) {
  $background-image: url("../../img/image/header-lay(mob-2x).jpg");
}

@media (min-width: $tablet-width) {
  .page__body-wrapper {
    width: 768px;
  }

  .page__body--background {
    background-image: url("../../img/image/header-lay(tablet-1x).jpg");
    background-size: 765px;
  }

  @media (min-resolution: 2dppx) {
    $background-image: url("../../img/image/header-lay(tablet-2x).jpg");
  }
}

@media (min-width: $desktop-width) {
  .page__body-wrapper {
    width: 1280px;
    padding: 0 40px;
  }
}
