.slider {
  position: relative;
  display: flex;
}

.slider-wrapper {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
}

.slider__item {
  padding-top: 215px;
}

.slider-card1 {
  display: block;
  background-image: url("/../img/image/high-mob(1x).jpg");
  width: 220px;
  height: 297px;
  margin-right: 30px;
}

.slider-card--background {
  background-image: url("/../img/image/slide2-mob.jpg");
  width: 20px;
}

.slider-card2 {
  background-image: url("../img/image/slide2-mob.jpg");
  display: none;
}

.slider-card3 {
  background-image: url("../img/image/slide2-mob.jpg");
  display: none;
}

.slider-card4 {
  background-image: url("../img/image/slide2-mob.jpg");
  display: none;
}

.slider-card__title {
  font-size: 16px;
  line-height: 23px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 500;
}

.slider-card__description {
  font-size: 13px;
  line-height: 19px;
  font-family: "M plus 1p", "Arial", sans-serif;
  color: $light-grey;
}

.slider-card__link {
  font-size: 13px;
  font-family: "M plus 1p", "Arial", sans-serif;
  color: $black;
  text-decoration: none;
  border-bottom: 1px solid $black;
}

@media (min-width: $tablet-width) {
.slider-wrapper {
  position: absolute;
  top: -220px;
  left: 204px;
  }

  .slider-card--background {
    display: none;
  }

  .slider__item {
    text-align: center;
  }

  .slider-card1 {
    background-image: url("../../img/image/slider1(tablet-1x).jpg");
    width: 230px;
    height: 312px;
  }

  @media (min-resolution: 2dppx) {
    $background-image: url("../../img/image/slide1(tablet-2x).jpg");
  }

  .slider-card2 {
    display: block;
    width: 206px;
    background-image: url("../../img/image/slide2(tablet-1x).jpg");
  }

  @media (min-resolution: 2dppx) {
    $background-image: url("../../img/image/slide2(tablet-2x).jpg");
  }
}

@media (min-width: $desktop-width) {
  .slider-wrapper {
    padding-right: 0;
    left: 274px;
  }

  .slider-card2 {
    margin-right: 30px;
  }

  .slider-card3 {
    display: block;
    background-image: url("../../img/image/slide3(desktop-1x).jpg");
    width: 230px;
    height: 312px;
    margin-right: 30px;
  }

  @media (min-resolution: 2dppx) {
    $background-image: url("../../img/image/slide3(desktop-2x).jpg");
  }

  .slider-card4 {
    display: block;
    background-image: url("../../img/image/slide4(desktop-1x).jpg");
    width: 230px;
    height: 312px;
  }

  @media (min-resolution: 2dppx) {
    $background-image: url("../../img/image/slide4(desktop-2x).jpg");
  }
}
