.social {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.social__item {
  padding-left: 30px;
  padding-bottom: 60px;
}


@media (min-width: $desktop-width) {
  .social__item {
    padding-bottom: 0;
  }
}
