/* Variables */

$background: #e5e5e5;
$black: #122947;
$border: #DBDCE0;
$border-button: #B3BAC1;
$white: #F8F8F6;
$light-grey: #9A9DA0;
$cream: #F4F1ED;

/* Viewports */

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
