/* Variables */

$background: #f8f8f6;
$black: #122947;
$border: #DBDCE0;
$border-button: #B3BAC1;
$white: #F8F8F6;
$light-grey: #9A9DA0;
$copyright: #959595;
$cream: #F4F1ED;
$border: #D1D1D1;

/* Viewports */

$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 767px;
